{% extends "general/base_general.html" %}

{% block title %}
	About project
{% endblock %}

{% block content %}
	
	<div class="card text-center card-bordered col-sm-5 col-center">  
		<div class="card-body">
			<div class = "about-text">
				<h3 class="card-title"><b>Hello!</b></h3>			
				<p class="card-text">What is <b>Singlepic?</b></p>
				<p class="card-text">Well, for now, it may be called "antisocial social network"</p>
				<p class="card-text">You can sign in here</p>
				<p class="card-text">You can upload pics, only one per user</p>
				<p class="card-text">Yes, only one</p>
				<p class="card-text">We respect beauty and uniqueness of every moment</p>
				<p class="card-text">When you upload another pic, previous one will be deleted</p>
				<p class="card-text">Also, every user has a counter of pics they have added</p>
				<p class="card-text">Enjoy</p>
				<span class = 'ghost-text'>
					<font class = 'ghost-text'><small><p class="card-text">Also in plans:</p>
						<p class="card-text">-adding comments</p>
						<p class="card-text">-adding likes</p>
						<p class="card-text">-maybe, messages</p></small></font><br>
					</span>
			</div>
			<a href="{% url 'pics_list_url' %}" class="btn btn-dark">Back to main</a>
		</div>
	</div>

{% endblock	%}
