{% extends "general/base_general.html" %}

{% block title %}
	Users
{% endblock %}


{% block content %}

  
  <form action="{% url 'admin_users_list_url' %}" method="post">
    {% csrf_token %}
    {% for field in form %}     
        {% if field.errors %}
        <div class="alert alert-danger">
          {{ field.errors }}
        </div>
        {% endif %}
        <div class = "form-group">
          {{ field.label }}  
          {{ field }}
          <button type = "Submit" class ="btn btn-dark btn-sm admin-obj">Search</button>
          {% if post %}
            <a href="{% url 'admin_users_list_url' %}" class="btn btn-dark btn-sm admin-obj">Full list</a>
          {% endif %}
          <br>        
        </div>   
        {% endfor %}       
      </form>

	<ul class="list-group list-group-flush">
  		{% for user in users %}
  			<li class="list-group-item"><b>{{ user.username }}</b>, 
  									created {{ user.date_joined }}, 
  									pics - {{user.user_add.counter}}
  									<a href="{% url 'admin_delete_user_url' username=user.username %}"> <b>DELETE</b> </a> </li>
  		{% endfor %}
  	</ul>

{% endblock %}