{% extends "general/base_general.html" %}
{% load staticfiles %}

{% block title %}
	Main Page
{% endblock %}


{% block content %}


<form action="{% url 'pics_list_url' %}" method="post">
	{% csrf_token %}
	{% for field in form %}     
	{% if field.errors %}
	<div class="alert alert-danger">
		{{ field.errors }}
	</div>
	{% endif %}
	<div class = "form-group">
		{{ field.label }}  
		{{ field }}
		<button type = "Submit" class ="btn btn-dark btn-sm">Search</button>
		{% if post %}
		<a href="{% url 'pics_list_url' %}" class="btn btn-dark btn-sm">See full list</a>
		{% endif %}
		<br>        
	</div>   
	{% endfor %}       
</form>

<div class="row">
	{% for photo in page_object.object_list %}
	<div class="col-sm-3 col-center">
		<div class="card card-bordered" style="width: 18rem;">
			{% if photo.blocked %}
				<a href="{% url 'pic_detail_url' id=photo.id %}">
					<img class="card-img-top" src="{% static 'img/Blocked_small.png' %}" alt="Image-block">
				</a>
			{% else %}
				<a href="{% url 'pic_detail_url' id=photo.id %}">
					<img class="card-img-top" src="{{ photo.thumbnail.url }}" alt="{ photo.title }">
				</a>
			{% endif %}
			<div class="card-body">
				<a href="{% url 'pic_detail_url' id=photo.id %}"><h5 class="card-title">{{ photo.title }}</h5></a>
				<p class="card-text">{{ photo.description }}</p>
				{% if photo.comments_counter == 0 %}
					<p class="card-text">No comments here</p>
				{% elif photo.comments_counter == 1 %}
					<p class="card-text">1 comment</p>
				{% else %}
					<p class="card-text">{{ photo.comments_counter }} comments</p>
				{% endif %}				
				<p class="card-text">By <b><a href="{% url 'user_detail_url' username=photo.user.username %}">
				{{ photo.user.username }}</a></b></p>						
			</div>
		</div>
	</div>
	
	{% endfor %}
</div>
{% endblock	%}