{% extends "general/base_general.html" %}

{% block title %}
	Main Page
{% endblock %}


{% block content %}


<form action="{% url 'pics_list_url' %}" method="post">
	{% csrf_token %}
	{% for field in form %}     
	{% if field.errors %}
	<div class="alert alert-danger">
		{{ field.errors }}
	</div>
	{% endif %}
	<div class = "form-group">
		{{ field.label }}  
		{{ field }}
		<button type = "Submit" class ="btn btn-dark btn-sm">Search</button>
		{% if post %}
		<a href="{% url 'pics_list_url' %}" class="btn btn-dark btn-sm">See full list</a>
		{% endif %}
		<br>        
	</div>   
	{% endfor %}       
</form>

<div class="row">
	{% for photo in page_object.object_list %}
	<div class="col-sm-3 col-center">
		<div class="card card-bordered" style="width: 18rem;">
			<img class="card-img-top" src="{{ photo.thumbnail.url }}" alt="{ photo.title }">
			<div class="card-body">
				<a href="{% url 'pic_detail_url' id=photo.id %}"><h5 class="card-title">{{ photo.title }}</h5></a>
				<p class="card-text">{{ photo.description }}</p>
				<p class="card-text">By <a href="{% url 'user_detail_url' username=photo.user.username %}">
				{{ photo.user.username }}</a></p>				
			</div>
		</div>
	</div>
	
	{% endfor %}
</div>
{% endblock	%}